<div class='login-logout'>
    Logged in as
    <span class='username'><%= link_to current_user.username, current_user %></span>
    <%= link_to '<button>Log Out</button>'.html_safe, '/logout' %>
</div>

<h1>Decks</h1>

<div style='margin: 8px 0'>
    <%= link_to "<button id='new-deck'>New Deck</button>".html_safe, new_deck_path %>
</div>
