<div class='login-logout'>
    <%= link_to '<button>Log In</button>'.html_safe, '/login' %>
</div>

<h1>Decks</h1>

<div style='margin: 8px 0'>
    <button class='greyed-out' id='new-deck'>You must be logged in to create a new deck.</button>
</div>
